.footerstyle {
  background-color: #a62869;
  height: 15rem;
  /* position:relative;
  left:0;
  bottom:0;
  right:0; */
}
.wth {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.marginc {
  padding-left: 10%;
}
.marginx {
  padding-left: 40%;
  /* padding-bottom: 16px !important; */
  padding-top: 40px !important;
}
.displaypro {
  display: flex !important;
}
.width20 {
  width: 3%;
}
.right {
  text-align: center;
}
.margincn {
  padding-left: 10%;
}
